@import 'mixin';
@import 'common';

.header
{
    background: #e60012;
    padding: 30px;
    height: 80px;
    top: 0;
    left : 0;
    @include clearfix;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
}
.header_title
{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    float: left;
    margin: 0 20px 0 0;
}
.header_menu
{
    float: left;

    li
    {
        float: left;
        margin: 0 0 0 20px;
        font-size: 12px;
        color: #fff;
        a
        {
            &:hover
            {
                text-decoration: underline;
            }
        }
    }
}
.header_menu_right
{
    float: right;

    li
    {
        float: left;
        margin: 0 0 0 5px;
        font-size: 12px;
        color: #fff;
        a
        {
            &:hover
            {
                text-decoration: underline;
            }
        }
    }
}
.side_nav {
    width: 200px;
    padding: 40px 30px;
    top: 80px;
    bottom: 0;
    position: fixed;
    background: #fff;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    overflow: auto;
}
.side_nav_title {
    font-size: 20px;
    margin: 0 0 30px 0;
    padding: 0 0 0 10px;
    border-left: 4px solid #e60012;
}
.side_nav_list {
    li {
        font-size: 14px;
        line-height: 1;
        margin: 0 0 20px 0;
        a
        {
            &:hover
            {
                text-decoration: underline;
            }
        }
    }
}
.page_title
{
    font-size: 20px;
    border-left: 4px solid #e60012;
    padding: 0 0 0 10px;
    margin: 0 0 20px;
}
.page_sub_title
{
    font-size: 18px;
    border-left: 4px solid #e60012;
    padding: 0 0 0 10px;
}
.container {
    margin: 80px 0 0 200px;
}
.content
{
    padding: 40px;
}
.table
{
    table-layout: fixed;
    width: 100%;
    margin: 0 0 50px;
    th,
    td
    {
        font-weight: normal;
        padding: 15px;
        border-bottom: 1px solid #ddd;
    }
    th
    {
        width: 200px;
        text-align: left;
        font-size: 16px;
        line-height: 1.5;
        padding: 24px 10px 10px 15px;
        vertical-align: top;
    }
    &._no_space {
        margin: 0;
    }
}
.table_date
{
    width: 200px;
}
.table_preview
{
    width: 100px;
}
.table_status
{
    width: 150px;
}
.table_delete
{
    width: 100px;
}
.table_image
{
    width: 200px;
}
.input_text
{
    border: 1px solid #ddd;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    line-height: 16px;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
}
.input_textarea
{
    border: 1px solid #ddd;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    height: 200px;
    padding: 10px;
    border-radius: 5px;
}
.input_select
{
    border: 1px solid #ddd;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    line-height: 16px;
    padding: 10px;
    height: 40px;
    cursor: pointer;
}
.button_1
{
    width: 200px;
    margin: 0 auto;
    background: #337ab7;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    display: block;
    padding: 10px 0;
    cursor: pointer;
}
.button_2
{
    width: 200px;
    margin: 0 auto;
    background: #c34d3f;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    display: block;
    padding: 10px 0;
    cursor: pointer;
}
.bottom_form
{
    padding: 30px 0 0 0;
    display: block;
}
.upload
{
    display: none;
}
.link_button
{
    width: 100px;
    background: #337ab7;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    a
    {
        display: block;
        padding: 10px 0;
        color: #fff;
    }
    &._space {
        margin: 0 0 20px 0;
    }
}
.text_hidden
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    a
    {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 2px 0;
    }
}
.link_text
{
    a
    {
        display: block;
        color: #459AB3;
        &:hover
        {
            text-decoration: underline;
        }
    }
}
.a_link
{
    color: #007bff;
    &:hover
    {
        text-decoration: underline;
    }
}

.data_page_text
{
    font-size: 14px;
    text-align: center;
}
.pager
{
    overflow: hidden;
    padding: 20px 0;
    @include clearfix;
}
.pager_list
{
    position: relative;
    float: left;
    left: 50%;
    &>li
    {
        position: relative;
        float: left;
        left: -50%;
        margin: 0 5px;
        font-size: 14px;
        a,
        span
        {
            padding: 10px 14px;
            border: 1px solid #ddd;
            display: block;
        }

        &.current
        {
            color: #fff;
            background: #e60012;
        }
        &:hover
        {
            color: #fff;
            background: #e60012;
        }
    }
}
.loading
{
    display: none;
    background: url(/assets/img/loader.gif) no-repeat center center rgba(255, 255, 255, 0.8);
    background-size: 64px 64px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}
.list
{
    padding: 0 0 0 20px;
    li
    {
        list-style: disc;
        margin: 0 0 10px 0;
        font-size: 14px;
        line-height: 1.5;
        &:last-child
        {
            margin: 0;
        }
    }
}
.text_list {
    padding: 10px;
    overflow: auto;
    li
    {
        margin: 0 0 15px 0;
        font-size: 16px;
        line-height: 16px;
        &:last-child
        {
            margin: 0;
        }
        input[type="checkbox"] {
            vertical-align: top;
        }
    }
    &_child {
        li {
            margin: 0 0 10px 0;
            font-size: 16px;
            line-height: 1.5;
            &:first-child
            {
                padding: 10px 0 0 0;
            }
            &:last-child
            {
                margin: 0;
            }
        }
    }
}

.login_container
{
    padding: 40px 0 0 0;
    width: 800px;
    margin: 0 auto;
}
.header_status
{
    display: none;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    &._show
    {
        display: block;
    }
    &._success
    {
        background: #5cb85c;
    }
    &._error
    {
        background: #d9534f;
    }
    &_text
    {
        color: #fff;
        font-size: 14px;
        text-align: center;
        line-height: 1;
    }
}
.error_text {
    color: #d9534f;
    font-size: 14px;
    line-height: 1.5;
    margin: 0 0 15px;
}
.post_search,
.relation_search {
    position: relative;
    padding: 0 90px 0 0;
    margin: 0 0 10px 0;

    .post_search_button,
    .search_button {
        width: 80px;
        height: 40px;
        position: absolute;
        top: 0;
        right: 0;
        background: #e60012;
        color: #fff;
        font-size: 14px;
        border-radius: 5px;
    }
}
