@import 'mixin';
@import 'common';

.header
{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 100%;
    min-width: 1000px;
    padding: 16px;
    background: #fff;

    border-bottom: 3px solid #e60012;

    @include clearfix;
}
.header_logo {
    width: 140px;
    float: left;
}
.header_title
{
    font-size: 14px;
    float: left;
    margin: 25px 20px 0 10px;
}
.header_menu
{
    float: left;

    li
    {
        font-size: 12px;

        float: left;

        margin: 0 0 0 20px;

        a
        {
            &:hover
            {
                text-decoration: underline;
            }
        }
    }
}
.header_menu_right
{
    float: right;
    padding: 15px 25px 0 0;

    li
    {
        font-size: 12px;

        float: left;

        margin: 0 0 0 5px;

        a
        {
            &:hover
            {
                text-decoration: underline;
            }
        }
    }
}
.side_nav
{
    position: fixed;
    top: 80px;
    bottom: 0;

    overflow: auto;

    box-sizing: border-box;
    width: 200px;
    padding: 40px 30px;

    border-right: 1px solid #ddd;
    background: #fff;
}
.side_nav_title
{
    font-size: 20px;

    margin: 0 0 30px 0;
    padding: 0 0 0 10px;

    border-left: 4px solid #e60012;
}
.side_nav_list
{
    li
    {
        font-size: 14px;
        line-height: 1;

        margin: 0 0 20px 0;
        a
        {
            &:hover
            {
                text-decoration: underline;
            }
        }
    }
}
.page_title
{
    font-size: 20px;

    margin: 0 0 20px;
    padding: 0 0 0 10px;

    border-left: 4px solid #e60012;
}
.page_sub_title
{
    font-size: 18px;

    padding: 0 0 0 10px;

    border-left: 4px solid #e60012;
}
.container
{
    margin: 80px 0 0 200px;
}
.content
{
    padding: 40px;
}
.table
{
    width: 100%;
    margin: 0 0 30px;

    table-layout: fixed;
    th,
    td
    {
        font-weight: normal;

        padding: 15px;
        font-size: 14px;

        border-bottom: 1px solid #ddd;
    }
    td
    {
        p {
            line-height: 1.5;
        }
    }
    th
    {
        font-size: 14px;
        line-height: 1.5;

        width: 200px;
        padding: 24px 10px 24px 15px;

        text-align: left;
        vertical-align: top;
    }
    &._no_space
    {
        margin: 0;
    }
    &._relation
    {
        th
        {
            font-size: 16px;
            line-height: 1.5;

            padding: 20px 10px 10px 20px;

            text-align: left;
            vertical-align: top;
        }
        .text_list {
            li {
                line-height: 1.4;

                input[type='checkbox'] {
                    margin: 3px 5px 0 0;
                }
            }
        }
    }
}
.table_date
{
    width: 200px;
}
.table_preview
{
    width: 100px;
}
.table_status
{
    width: 150px;
}
.table_delete
{
    width: 100px;
}
.table_image
{
    width: 150px;
}
.input_text
{
    font-size: 16px;
    line-height: 16px;

    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 0 10px;

    border: 1px solid #ddd;
    border-radius: 5px;
}
.input_textarea
{
    font-size: 16px;
    line-height: 1.5;

    box-sizing: border-box;
    width: 100%;
    height: 200px;
    padding: 10px;

    border: 1px solid #ddd;
    border-radius: 5px;
}
.input_select
{
    font-size: 14px;
    line-height: 14px;

    box-sizing: border-box;
    width: 100%;
    height: 30px;
    padding: 10px;

    cursor: pointer;

    border: 1px solid #ddd;
}
.button_1
{
    font-size: 16px;
    font-weight: bold;

    display: block;

    width: 200px;
    margin: 0 auto;
    padding: 10px 0;

    cursor: pointer;

    color: #fff;
    background: #337ab7;
}
.button_2
{
    font-size: 16px;
    font-weight: bold;

    display: block;

    width: 200px;
    margin: 0 auto;
    padding: 10px 0;

    cursor: pointer;

    color: #fff;
    background: #c34d3f;
}
.button_3
{
    font-size: 14px;
    font-weight: bold;

    display: block;

    margin: 0 auto;
    padding: 8px 20px;

    cursor: pointer;

    color: #fff;
    background: #888;
}

.bottom_form
{
    display: block;

    padding: 30px 0 0 0;
}
.image_thumbnails {
    @include clearfix();
    div {
        width: 150px;
        float: left;
        margin: 0 20px 20px 0;

        position: relative;
        border: 1px solid #ddd;

        .thumbnail_delete {
            position: absolute;
            right: 5px;
            bottom: 5px;
            color: #fff;
            font-size: 12px;
            line-height: 20px;
            padding: 0 10px;
            text-align: center;
            background: #888;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}
.image_buttons {
    @include clearfix();
    input {
        float: left;
        margin: 0 20px 0 0;
    }
}
.image_list_block {
    display: none;
    padding: 20px 0 0 0;
}
.image_list_block_table {
    margin: 0;

    td {
        border: none;
        padding: 0;
    }
    .table_image_title {
        border-top: 1px solid #ddd;
        padding: 20px 0;
    }
    .text_list {
        border-top: 1px solid #ddd;
        padding: 20px 0 10px 0;
    }
}
.upload
{
    display: none;
}
.link_button
{
    font-size: 16px;
    font-weight: bold;

    width: 100px;

    text-align: center;

    background: #337ab7;
    a
    {
        display: block;

        padding: 10px 0;

        color: #fff;
    }
    &._delete {
        font-size: 14px;
        width: 60px;
        background: #c34d3f;
        float: right;
        a {
            padding: 8px 0;
        }
    }
    &._space
    {
        margin: 0 0 20px 0;
    }
}
.text_hidden
{
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
    a
    {
        overflow: hidden;

        padding: 2px 0;

        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
.link_text
{
    a
    {
        display: block;

        color: #459ab3;
        &:hover
        {
            text-decoration: underline;
        }
    }
}
.a_link
{
    color: #007bff;
    &:hover
    {
        text-decoration: underline;
    }
}

.data_page_text
{
    font-size: 14px;

    text-align: center;
}
.pager
{
    overflow: hidden;

    padding: 20px 0;

    @include clearfix;
}
.pager_list
{
    position: relative;
    left: 50%;

    float: left;
    & > li
    {
        font-size: 14px;

        position: relative;
        left: -50%;

        float: left;

        margin: 0 5px;
        a,
        span
        {
            display: block;

            padding: 10px 14px;

            border: 1px solid #ddd;
        }

        &.current
        {
            color: #fff;
            background: #888;
        }
        &:hover
        {
            color: #fff;
            background: #888;
        }
    }
}
.loading
{
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background: url(/assets/img/loader.gif) no-repeat center center rgba(255, 255, 255, .8);
    background-size: 64px 64px;
}
.list
{
    padding: 0 0 0 20px;
    li
    {
        font-size: 14px;
        line-height: 1.5;

        margin: 0 0 10px 0;

        list-style: disc;
        &:last-child
        {
            margin: 0;
        }
    }
}
.category_parent {
    display: none;
}
.text_list
{
    overflow: auto;

    padding: 10px;
    &._category
    {
        padding: 10px 10px 10px 20px;
    }
    &._select_category
    {
        font-weight: bold;
    }
    li
    {
        font-size: 16px;
        line-height: 16px;

        margin: 0 0 15px 0;
        &:last-child
        {
            margin: 0;
        }
        input[type='checkbox']
        {
            vertical-align: top;
        }
        &._group
        {
            font-weight: bold;

            text-indent: -20px;
        }
    }
    &_child
    {
        font-weight: normal;

        padding: 0 0 0 20px;
        li
        {
            font-size: 16px;
            line-height: 16px;

            margin: 0 0 10px 0;
            &:first-child
            {
                padding: 10px 0 0 0;
            }
            &:last-child
            {
                margin: 0;
            }
        }
    }
}

.login_container
{
    width: 800px;
    margin: 0 auto;
    padding: 40px 0 0 0;
}
.header_status
{
    position: fixed;
    top: 80px;
    left: 0;

    display: none;

    width: 100%;
    padding: 10px 0;
    z-index: 100;

    &._show
    {
        display: block;
    }
    &._success
    {
        background: #5cb85c;
    }
    &._error
    {
        background: #d9534f;
    }
    &_text
    {
        font-size: 14px;
        line-height: 1;

        text-align: center;

        color: #fff;
    }
}
.error_text
{
    font-size: 14px;
    line-height: 1.5;

    margin: 0 0 15px;

    color: #d9534f;
}
.post_search {
    margin: 0 0 20px 0;
}
.relation_search {
    margin: 0 0 10px 0;
}
.post_search,
.relation_search
{
    position: relative;

    padding: 0 90px 0 0;

    .post_search_button,
    .search_button
    {
        font-size: 14px;

        position: absolute;
        top: 0;
        right: 0;

        width: 80px;
        height: 40px;

        color: #fff;
        border-radius: 5px;
        background: #e60012;
    }
}
.images_lists {
    @include clearfix();
    padding: 30px 0;
    li {
        width: 200px;
        float: left;
        margin: 0 20px 20px 0;
        img {
            box-sizing: border-box;
            border: 1px solid #ddd;
            margin: 0 0 10px 0;
        }
    }
}
.use_images {
    background: #fff;
    padding: 20px;
}
.use_images_title {
    font-size: 16px;
    line-height: 1;
}
.use_images_list {
    padding: 20px 0 0 0;
    li {
        font-size: 14px;
        line-height: 1.5;
        margin: 0 0 10px 0;

        &:last-child {
            margin: 0;
        }
    }
}
.image_more_link {
    font-size: 16px;
}
