{% extends "parts/layout.html" %}
{%- from "parts/relation_parts.html" import videos with context %}
{% block style %}
<link rel="stylesheet" href="/assets/lib/lity/lity.min.css">
{% endblock %}
{% block body %}
<div class="header_status"><p class="header_status_text"></p></div>
<div class="container">
    <main class="content">
        <h2 class="page_title">グループ</h2>
        {%- for mes in error_messages['name'] %}
        {%- if mes == 'required' %}
        <p class="error_text">名前を入力してください。</p>
        {%- endif %}
        {%- if mes == 'invalid' %}
        <p class="error_text">名前を正しく入力してください。</p>
        {%- endif %}
        {%- endfor %}
        <form method="POST">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <table class="table">
                <tr>
                    <th>名前</th>
                    <td>
                        <input type="text" name="name" class="input_text" placeholder="入力してください" value="{% if form_data['name'] %}{{ form_data['name'] }}{% endif %}">
                    </td>
                </tr>
            </table>
            <input type="submit" value="保存する" class="button_1">
        </form>
    </main>
</div>
{% endblock %}
{% block javascript %}
<script src="/assets/lib/lity/lity.min.js"></script>
{% endblock %}
