{% extends "parts/layout.html" %}
{% block style %}
<link rel="stylesheet" href="/assets/lib/lity/lity.min.css">
{% endblock %}
{% block body %}
<div class="header_status"><p class="header_status_text"></p></div>
<div class="container">
    <main class="content">
        <h2 class="page_title">画像一覧</h2>
        <input style="margin: 0 0 20px 0" type="button" value="新規登録" class="button_1 input_image_add_button">
        <ul class="images_lists">
            {%- for image in images %}
            <li>
                <a href="{{ image.image_url }}" data-lity>
                    <img src="{{ image.image_url|thumbnail }}" alt="">
                </a>
                <input type="text" readonly value="{{ image.title }}" class="input_text" style="margin: 0 0 10px 0;">
                <p class="link_button _delete">
                    <a href="javascript:;" data-href="/{{ lang }}/admin/images/delete/{{ image.image_id }}" data-image_id="{{ image.image_id }}" data-lang="{{ lang }}" class="image_delete_check">削除</a>
                </p>
            </li>
            {%- endfor %}
        </ul>
        {%- if images %}
        {{ pager({
            'information': information,
            'pagination': pagination,
        }) }}
        {%- if images %}
        <p class="data_page_text">{{ information }}</p>
        {%- endif %}
        {%- endif %}
        <form id="image_upload" method="POST" enctype="multipart/form-data">
            <input name="image_file" data-lang="{{ lang }}" data-refresh_href="/{{ lang }}/admin/images" type="file" class="upload" id="upload" accept="image/*">
        </form>
        <div id="use_images" class="lity-hide">
            <div class="use_images">
                <p class="use_images_title">下記投稿で使用中の画像です。</p>
                <ul id="use_images_list" class="use_images_list"></ul>
            </div>
        </div>
        <a href="#use_images" id="use_images_link" data-lity></a>
    </main>
</div>
{% endblock %}
{% block javascript %}
<script src="/assets/lib/lity/lity.min.js"></script>
{% endblock %}