{% extends "parts/layout.html" %}
{% block body %}
<div class="header_status"><p class="header_status_text"></p></div>
<div class="container">
    <main class="content">
        <h2 class="page_title">タイトル</h2>
        <p class="link_button _space">
            <a href="/{{ lang }}/admin/titles/create" class="a_link">新規投稿</a>
        </p>
        <form action="/{{ lang }}/admin/titles" method="GET">
            <div class="post_search">
                <input type="text" name="search" class="input_search input_text" placeholder="検索キーワード" value="{{ search }}">
                <input type="submit" class="post_search_button" value="検索">
            </div>
        </form>
        <table class="table">
            <tr>
                <td class="table_title">タイトル</td>
            </tr>
            {%- for title in titles %}
            <tr>
                <td><a href="/{{ lang }}/admin/titles/{{ title.id }}" class="a_link">{{ title.title }}</a></td>
            </tr>
            {%- endfor %}
        </table>
        {%- if titles %}
        {{ pager({
            'information': information,
            'pagination': pagination,
        }) }}
        <p class="data_page_text">{{ information }}</p>
        {%- endif %}
    </main>
</div>
{% endblock %}
{% block javascript %}
{% endblock %}