{% extends "parts/layout.html" %}
{%- from "parts/relation_parts.html" import videos with context %}
{% block style %}
<link rel="stylesheet" href="/assets/lib/lity/lity.min.css">
{% endblock %}
{% block body %}
<div class="header_status"><p class="header_status_text"></p></div>
<div class="container">
    <main class="content">
        <h2 class="page_title">トピックス</h2>
        {%- for mes in error_messages['published_at'] %}
        {%- if mes == 'required' %}
        <p class="error_text">公開日時を入力してください。</p>
        {%- endif %}
        {%- if mes == 'invalid' %}
        <p class="error_text">公開日時を正しく入力してください。</p>
        {%- endif %}
        {%- endfor %}
        {%- for mes in error_messages['title'] %}
        {%- if mes == 'required' %}
        <p class="error_text">タイトルを入力してください。</p>
        {%- endif %}
        {%- if mes == 'invalid' %}
        <p class="error_text">タイトルを正しく入力してください。</p>
        {%- endif %}
        {%- endfor %}
        {%- for mes in error_messages['title'] %}
        {%- if mes == 'required' %}
        <p class="error_text">タイトルを入力してください。</p>
        {%- endif %}
        {%- if mes == 'invalid' %}
        <p class="error_text">タイトルを正しく入力してください。</p>
        {%- endif %}
        {%- endfor %}
        {%- for mes in error_messages['text'] %}
        {%- if mes == 'required' %}
        <p class="error_text">本文を入力してください。</p>
        {%- endif %}
        {%- if mes == 'invalid' %}
        <p class="error_text">本文を正しく入力してください。</p>
        {%- endif %}
        {%- endfor %}
        {%- for mes in error_messages['url'] %}
        {%- if mes == 'required' %}
        <p class="error_text">URLを入力してください。</p>
        {%- endif %}
        {%- if mes == 'invalid' %}
        <p class="error_text">URLを正しく入力してください。</p>
        {%- endif %}
        {%- endfor %}
        {%- for mes in error_messages['button_label'] %}
        {%- if mes == 'required' %}
        <p class="error_text">ボタンラベルを入力してください。</p>
        {%- endif %}
        {%- if mes == 'invalid' %}
        <p class="error_text">ボタンラベルを正しく入力してください。</p>
        {%- endif %}
        {%- endfor %}
        {%- for mes in error_messages['thumbnail'] %}
        {%- if mes == 'required' %}
        <p class="error_text">サムネイル画像を選択してください。</p>
        {%- endif %}
        {%- if mes == 'invalid' %}
        <p class="error_text">サムネイル画像を正しく入力してください。</p>
        {%- endif %}
        {%- endfor %}
        {%- for mes in error_messages['images'] %}
        {%- if mes == 'required' %}
        <p class="error_text">イメージ画像を選択してください。</p>
        {%- endif %}
        {%- if mes == 'invalid' %}
        <p class="error_text">イメージ画像を正しく入力してください。</p>
        {%- endif %}
        {%- endfor %}
        <form method="POST">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <table class="table">
                <tr>
                    <th>公開日時</th>
                    <td>
                        <input type="text" name="published_at" class="input_text" value="{% if form_data['published_at'] %}{{ form_data['published_at'] }}{% else %}{{ date_now }}{% endif %}">
                    </td>
                </tr>
                <tr>
                    <th>新着</th>
                    <td>
                        <label>
                            <input type="checkbox" name="new" value="1"{% if form_data['new'] %} checked{% endif %}>新着表示にする
                        </label>
                    </td>
                </tr>
                <tr>
                    <th>記事種別</th>
                    <td>
                        <select name="post_type" class="input_select">
                            <option value="">選択してください</option>
                            {%- for post_type in post_types %}
                            <option value="{{ post_type.val }}">{{ post_type.name }}</option>
                            {%- endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>タイトル</th>
                    <td>
                        <input type="text" name="title" class="input_text" placeholder="入力してください" value="{% if form_data['title'] %}{{ form_data['title'] }}{% endif %}">
                    </td>
                </tr>
                <tr>
                    <th>本文</th>
                    <td>
                        <textarea name="text" class="input_textarea" placeholder="入力してください">{% if form_data['text'] %}{{ form_data['text'] }}{% endif %}</textarea>
                    </td>
                </tr>
                <tr>
                    <th>URL</th>
                    <td>
                        <input type="text" name="url" class="input_text" placeholder="入力してください" value="{% if form_data['url'] %}{{ form_data['url'] }}{% endif %}">
                    </td>
                </tr>
                <tr>
                    <th>ボタンラベル</th>
                    <td>
                        <input type="text" name="button_label" class="input_text" placeholder="入力してください" value="{% if form_data['button_label'] %}{{ form_data['button_label'] }}{% endif %}">
                    </td>
                </tr>
                <tr>
                    <th>サムネイル画像</th>
                    <td>
                        <div class="image_thumbnails" id="image_thumbnails_2">
                            {% if form_data['thumbnail'] %}
                            <div>
                                <input type="hidden" name="thumbnail" value="{% if form_data['thumbnail'] %}{{ form_data['thumbnail']|thumbnail }}{% endif %}">
                                <img src="{% if form_data['thumbnail'] %}{{ form_data['thumbnail']|thumbnail }}{% endif %}" alt=""><span class="thumbnail_delete">取消</span>
                            </div>
                            {% endif %}
                        </div>
                        <div class="image_buttons">
                            <input type="button" value="ファイルから選択する" data-image_type="thumbnail" class="button_3 input_image_add_button">
                            <input type="button" data-lang="{{ lang }}" value="一覧から選択する" class="button_3 input_image_list_add_button">
                        </div>
                        <div class="image_list_block image_list_block">
                            <table class="table image_list_block_table">
                                <tr><td class="table_image_title">ファイル名</td></tr>
                                <tr><td><ul class="image_list text_list" data-image_type="thumbnail"></ul></td></tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>イメージ画像</th>
                    <td>
                        <div class="image_thumbnails" id="image_thumbnails_1">
                            {% for select_image in select_images %}
                                <div>
                                    <input type="hidden" name="images" value="{{ select_image.id }}">
                                    <img src="{{ select_image.image_url|thumbnail }}" alt=""><span class="thumbnail_delete">取消</span>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="image_buttons">
                            <input type="button" data-image_type="images" value="ファイルから選択する" class="button_3 input_image_add_button">
                            <input type="button" data-lang="{{ lang }}" value="一覧から選択する" class="button_3 input_image_list_add_button">
                        </div>
                        <div class="image_list_block">
                            <table class="table image_list_block_table">
                                <tr><td class="table_image_title">ファイル名</td></tr>
                                <tr><td><ul class="image_list text_list" data-image_type="images"></ul></td></tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
            {{ videos(select_videos, lang) }}
            <input type="submit" value="下書き保存する" class="button_1">
        </form>
        <form id="image_upload" method="POST" enctype="multipart/form-data">
            <input name="image_file" type="file" class="upload" id="upload" accept="image/*">
        </form>
    </main>
</div>
{% endblock %}
{% block javascript %}
<script src="/assets/lib/lity/lity.min.js"></script>
{% endblock %}
