<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1000">
    <meta name="robots" content="noindex, nofollow">
    <title>{{ title }}</title>
	{% block style %}{% endblock %}
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <header class="header">
        <div class="header_logo">
            <a href="/{{ lang }}/admin"><img src="/assets/img/logo.jpg" alt="FEED"></a>
        </div>
        <h1 class="header_title">APP 管理 / {% if lang == 'ja' %}日本語{% else %}英語{% endif %}</h1>
        <ul class="header_menu_right">
            <li><a href="/ja/admin">日本語</a></li>
            <li>/</li>
            <li><a href="/en/admin">英語</a></li>
        </ul>
	</header>
    <aside class="side_nav">
        <ul class="side_nav_list">
            <li><a href="/{{ lang }}/admin">トップ</a></li>
            <li><a href="/{{ lang }}/admin/introductions" {% if request.path.split('/')[3] == 'introductions' %}class="a_link"{% endif %}>イントロダクション</a></li>
            <li><a href="/{{ lang }}/admin/titles" {% if request.path.split('/')[3] == 'titles' %}class="a_link"{% endif %}>タイトル</a></li>
            <li><a href="/{{ lang }}/admin/videos" {% if request.path.split('/')[3] == 'videos' %}class="a_link"{% endif %}>動画</a></li>
            <li><a href="/{{ lang }}/admin/topics" {% if request.path.split('/')[3] == 'topics' %}class="a_link"{% endif %}>トピック</a></li>
            <li><a href="/{{ lang }}/admin/images" {% if request.path.split('/')[3] == 'images' %}class="a_link"{% endif %}>画像</a></li>
            <li><a href="/{{ lang }}/admin/groups" {% if request.path.split('/')[3] == 'groups' %}class="a_link"{% endif %}>グループ</a></li>
            <li><a href="/{{ lang }}/admin/categories" {% if request.path.split('/')[3] == 'categories' %}class="a_link"{% endif %}>カテゴリー</a></li>
        </ul>
    </aside>
    {% from "parts/pager.html" import pager with context %}
    {% block body %}{% endblock %}
    <script src="/assets/js/jquery.js"></script>
    {% block javascript %}{% endblock %}
    <script src="/assets/js/script.min.js"></script>
</body>
</html>
