{%- macro videos(videos, lang, video_id='') %}
<p class="page_sub_title">関連動画</p>
<table class="table">
    <tr>
        <th>一覧</th>
        <th>選択一覧</th>
    </tr>
    <tr>
        <td valign="top">
            <div class="relation_search">
                <input type="text" class="videos_search input_search input_text" placeholder="検索キーワード">
                <input type="button" class="videos_search_button search_button" value="検索">
            </div>
            <ul class="text_list" id="videos_list" data-lang="{{ lang }}" data-video_id="{{ video_id }}"></ul>
        </td>
        <td valign="top">
            <ul class="text_list add_list">
                {%- for video in videos %}
                <li><input type="checkbox" name="videos" checked value="{{ video.id }}" id="videos_{{ video.id }}"><label for="videos_{{ video.id }}">{{ video.title }}</label></li>
                {%- endfor %}
            </ul>
        </td>
    </tr>
</table>
{%- endmacro %}

{%- macro titles(titles, lang) %}
<p class="page_sub_title">タイトル</p>
<table class="table">
    <tr>
        <th>一覧</th>
        <th>選択一覧</th>
    </tr>
    <tr>
        <td valign="top">
            <div class="relation_search">
                <input type="text" class="titles_search input_search input_text" placeholder="検索キーワード">
                <input type="button" class="titles_search_button search_button" value="検索">
            </div>
            <ul class="text_list" id="titles_list" data-lang="{{ lang }}"></ul>
        </td>
        <td valign="top">
            <ul class="text_list">
                {%- for title in titles %}
                <li><input type="checkbox" name="titles" checked value="{{ title.id }}" id="titles_{{ title.id }}"><label for="titles_{{ title.id }}">{{ title.title }}</label></li>
                {%- endfor %}
            </ul>
        </td>
    </tr>
</table>
{%- endmacro %}

{%- macro topics(topics, lang) %}
<p class="page_sub_title">関連トピック</p>
<table class="table">
    <tr>
        <th>一覧</th>
        <th>選択一覧</th>
    </tr>
    <tr>
        <td valign="top">
            <div class="relation_search">
                <input type="text" class="topics_search input_search input_text" placeholder="検索キーワード">
                <input type="button" class="topics_search_button search_button" value="検索">
            </div>
            <ul class="text_list" id="topics_list" data-lang="{{ lang }}"></ul>
        </td>
        <td valign="top">
            <ul class="text_list add_list">
                {%- for topic in topics %}
                <li><input type="checkbox" name="topics" checked value="{{ topic.id }}" id="topics_{{ topic.id }}"><label for="topics_{{ topic.id }}">{{ topic.title }}</label></li>
                {%- endfor %}
            </ul>
        </td>
    </tr>
</table>
{%- endmacro %}

{%- macro introductions(introductions, lang) %}
<p class="page_sub_title">関連イントロダクション</p>
<table class="table">
    <tr>
        <th>一覧</th>
        <th>選択一覧</th>
    </tr>
    <tr>
        <td valign="top">
            <div class="relation_search">
                <input type="text" class="introductions_search input_search input_text" placeholder="検索キーワード">
                <input type="button" class="introductions_search_button search_button" value="検索">
            </div>
            <ul class="text_list" id="introductions_list" data-lang="{{ lang }}"></ul>
        </td>
        <td valign="top">
            <ul class="text_list">
                {%- for introduction in introductions %}
                <li><input type="checkbox" name="introductions" checked value="{{ introduction.id }}" id="introductions_{{ introduction.id }}"><label for="introductions_{{ introduction.id }}">{{ introduction.name }}</label></li>
                {%- endfor %}
            </ul>
        </td>
    </tr>
</table>
{%- endmacro %}

{%- macro categories(categories, groups) %}
<table class="table">
    <tr>
        <th>カテゴリー一覧</th>
        <th>選択一覧</th>
    </tr>
    <tr>
        <td valign="top">
            <ul class="text_list" id="categories_list"></ul>
        </td>
        <td valign="top">
            <ul class="text_list">
                {%- for group in groups %}
                <li>{{ group.name }}<ul class="text_list_child" id="group_{{ group.id }}">
                    {%- if categories %}
                    {%- for category in categories %}
                    {%- if category.group_id == group.id %}
                    <li><input type="checkbox" name="categories" checked value="{{ category.id }}" id="categories_{{ category.id }}"><label for="categories_{{ category.id }}">{{ category.name_ja }} / {{ category.name_en }}</label></li>
                    {%- endif %}
                    {%- endfor %}
                    {%- endif %}
                    </ul>
                </li>
                {%- endfor %}
            </ul>
        </td>
    </tr>
</table>
{%- endmacro %}
